<h1 class="animated fadeIn fast">Sobre Comic App</h1>
<hr>
<p class="animated fadeIn">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum perferendis, eligendi minus saepe, alias ad magni nam quidem illum accusantium, quos velit earum. Exercitationem, at laborum consectetur perspiciatis deserunt suscipit!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis maiores, hic tempore voluptatem, consequuntur et pariatur voluptates, natus doloribus unde sunt iure ex ipsam! Voluptatum nemo porro obcaecati quam et?
</p>

<p class="animated fadeIn">Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus laudantium laborum alias odio placeat expedita velit. Omnis id modi perspiciatis, a dolor esse delectus ipsa, corrupti vitae doloremque cum exercitationem.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae repudiandae necessitatibus, alias minus omnis corporis, aliquid laborum nihil fuga, aperiam laudantium! Eligendi sit quas dolores repellat. Nulla, explicabo. Cupiditate, incidunt!
</p>